# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
venv312/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Project specific
chroma_db/
logs/
data/*
!data/samples/
eval/results.json

# IDE
.vscode/
.idea/
